* {
  font-size: 12px;
  /*font-family: "Terminus (TTF)";*/
  font-family: "Monocraft Nerd Font";
  opacity: 0.97;
}

window#waybar {
    /*background: rgba(40,40,40,128);*/
    background: rgba(0,0,0,0);
}

/*Right round + module*/
#custom-battery {
  margin: 3px 0px 3px 0px;
  background: #1d1f21;
  padding: 5px;
  color: #c5c8c6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

/*Right round + module + red*/
#custom-quit {
  margin: 3px 3px 3px 0px;
  padding: 5px 7px 5px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #F00;
  color: #FFF;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

/*Round + module*/
#clock {
  margin: 3px 0px 3px 3px;
  padding: 5px;
  color: #FFF;
  background: #1d1f21;
  border-radius: 10px;
  /*border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;*/
  color: #c5c8c6;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}

/*Left round + module*/
#custom-dunst,
#custom-swaync,
#custom-keyboard {
  background: #1d1f21;
  color: #c5c8c6;
  padding: 5px 5px 5px 7px;
  margin: 3px 0px 3px 3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1px solid #888;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

/*Round + module*/
#custom-nixos {
  margin: 3px;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
  background: #1d1f21;
  color: #6898d3;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}

/*Round + module*/
#tray,
#custom-weather,
#custom-mpris {
  margin: 3px;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
  background: #1d1f21;
  color: #c5c8c6;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}

/*No round + module*/
#custom-upd,
#idle_inhibitor,
#custom-docker,
#custom-btc,
#custom-hwstat,
#custom-network {
  margin: 3px 0px 3px 0px;
  padding: 5px 7px 5px 7px;
  background: #1d1f21;
  color: #c5c8c6;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

#window {
  background: #1d1f21;
  color: #c5c8c6;
  border-radius: 10px;
  margin: 3px 0px 3px 3px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button:first-child {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
#workspaces button:last-child {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

#workspaces button {
    /*padding: 0 5px;*/
    padding: 0 3px;
    background-color: transparent;
    color: #ffffff;
  /*  border-width: 1px;
    border-color: #888;
    border-radius: 10px;
  **border-style: solid;
  **border-width: 1px;
  **border-color: #888;
  */
}

#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2);
    */
}

#workspaces button.active {
    /*background-color: #64727D;
    */
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
    /*background-color: #eb4d4b;
    */
    color: #eb4d4b;
}

#window,
#workspaces {
    /*margin: 0 4px;*/
    background: #1d1f21;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
}

/*
#workspaces {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  border-radius: 10px;
}
*/
